@import '../../styles.scss';

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  max-width: 500px;
  // margin: 2rem auto;
  // padding: 2rem;
  // background-color: #fff;
  // border-radius: 8px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 150px;
  }

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 1.5rem;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $text-color;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select {
      width: 95%;
      padding: 0.5rem;
      border: 1px solid $secondary-color;
      border-radius: 4px;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    select {
        width: 100%;
    }

    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .btn-signup {
    @include flex-center;
    width: 100%;
    padding: .75rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: $font-family;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .captcha {
    background-color: $secondary-color;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
  }

  .additional-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Responsive styles
// @media (max-width: 600px) {
//   .signup-container {
//     padding: 1rem;
//   }
// }

// NEW 


.signup-page {
  display: flex;
  min-height: 90vh;
  background-color: #f5f5f5;
  // position: relative;
}

.signup-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;

  mat-card {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 150px;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 24px;
    color: $primary-color;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  ::ng-deep .mat-mdc-form-field-label-wrapper {
    top: -0.84375em;
    padding-top: 0.84375em;
  }

  ::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-mdc-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
    width: 133.33333%;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }

  ::ng-deep .mat-mdc-input-element {
    margin-top: 0.5em;
  }

  .interests-section {
    margin-top: 1rem;

    h3 {
      margin-bottom: 0.5rem;
      font-size: 18px;
    }

    .mat-mdc-checkbox {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .btn-signup {
    width: 100%;
    margin-top: 1rem;
  }

  .additional-links {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.image-container {
  flex: 1;
  display: none; // Hidden by default on small screens
  justify-content: center;
  align-items: center;
  // background-color: #f0f0f0;
  // position: absolute;
  // top: 0;
  // left: 30%;

  .signup-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .image-container {
    display: flex; // Show on larger screens
  }
}

@media (max-width: 1023px) {
  .signup-page {
    flex-direction: column;
  }

  .signup-container {
    padding: 1rem;
  }
}